name: Commitlint
on:
  pull_request:
  push:
    branches: ["**"]
jobs:
  lint-commits:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: wagoid/commitlint-github-action@v5
        with:
          configFile: .commitlintrc.json

